[bumpversion]
current_version = 3.2.1
commit = True
tag = True
tag_name = {new_version}

[bumpversion:file:setup.py]

[bumpversion:file:include/fastnumbers/version.hpp]

[bumpversion:file:docs/source/conf.py]

[bumpversion:file:CHANGELOG.md]
search = Unreleased
replace = Unreleased
	---
	
	[{new_version}] - {now:%Y-%m-%d}
