include README.rst
include LICENSE
include setup.py
include setup.cfg
include patch_doctest.py
include tox.ini
graft src
graft include
graft tests
global-exclude *.py[cod] __pycache__ *.so
graft docs/source
