name: Deploy

# Only run on tagged commits
on:
  push:
    tags:
      - "*"

jobs:
  build:
    name: Build Wheels and Source Distributions
    runs-on: ${{ matrix.os }}
    env:
      CIBW_ARCHS_MACOS: "x86_64 universal2 arm64"
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        arch: [auto]
        include:
        - os: ubuntu-latest
          arch: aarch64

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5

      - uses: docker/setup-qemu-action@v2
        if: ${{ matrix.arch == 'aarch64' }}
        name: Set up QEMU

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install cibuildwheel==2.22.0

      - name: Build Source Distribution
        if: matrix.os == 'ubuntu-latest' && matrix.arch != 'aarch64'
        run: |
          python -m pip install build
          python -m build --sdist

      - name: Build Wheel
        run: python -m cibuildwheel --output-dir dist
        env:
          CIBW_BUILD: "cp3*"
          CIBW_ARCHS_LINUX: ${{matrix.arch}}

      - name: Save artifacts
        uses: actions/upload-artifact@v3
        with:
          name: distributions
          path: dist/
          retention-days: 2

  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs: [build]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Download artifacts
        uses: actions/download-artifact@v3
        with:
          name: distributions
          path: dist/

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.pypi_token_password }}
          # skip_existing: true
